@import "../../../../styles/index.scss";

.container {
  @include resume-bg;
  margin-bottom: 5rem;
}

h3 {
  margin: 0;
  font-size: 0.8rem;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}
