<div class="about">
  <div class="about-header">
    <p class="headline headline--main">über mich</p>
  </div>
  <div class="about-info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque culpa, eum
      iste laudantium voluptas quod quisquam sit atque repellat cupiditate
      distinctio temporibus esse similique itaque nostrum autem dolor commodi
      velit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque culpa, eum
      iste laudantium voluptas quod quisquam sit atque repellat cupiditate
      distinctio temporibus esse similique itaque nostrum autem dolor commodi
      velit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque culpa, eum
      iste laudantium voluptas quod quisquam sit atque repellat cupiditate
      distinctio temporibus esse similique itaque nostrum autem dolor commodi
      velit?
    </p>
  </div>
  <div class="about-hobby">
    <h3>Einiges aus meiner Freizeit</h3>
    <ul>
      <li>Sport</li>
      <li>Sport</li>
      <li>Sport</li>
      <li>Sport</li>
    </ul>
  </div>
</div>
