.progress {
  width: 85px;
  color: #1f015a;
  padding: 4px 25px 4px 20px;
  border: 1px solid;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2rem;
  border-left: 25px #1f015a solid;
  border-radius: 5px;
}
